html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #333;
  color: #eee;
}

#flex-box-container {
  width: 100vw;
  height: 70vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
  /* gap: 10px; */
}

.flex-item {
  width: 100px;
  height: 100px;
  /* padding: 20px; */
  /* border: 20px solid black; */
}

.flex-item:first-child {
  flex-grow: 1;
  /* box-sizing: border-box; */
  /* box-sizing: content-box; */
  background-color: brown;
  /* order: 1; */
}

.flex-item:last-child {
  /* flex-grow: 2; */
  /* margin-left: 50px; */
  /* padding: 40px; */
  background-color: blueviolet;
}